
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: larger;
    font-family: "Nunito", sans-serif;
  }
  
  
  input[type=text]:focus, input[type=password]:focus,input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 50px;

    
  }
  
  button:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  .cancelbtn, .signupbtn {
    width: 24%;
    margin-left: 40%;
    background-color: #ffb900;
    color: #103749;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .container {
    padding: 16px;
  }
  
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    overflow: auto;
    background-color: #ced5e4;
    padding-top: 50px;
    opacity: 0.5;
  }
  
  .modal-content {
    background-color: #fefefe;
    z-index: 4; 
    opacity:1;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 50%; 
    height: 400px;
    overflow:scroll;
  }
  
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
    
  }
  
  
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}