
.foo {
    background-color: black;
    color: white;
    padding: 3% 5%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}
.foothead{
    font-family:"Nunito",sans-serif;
    font-size: 1rem;
    letter-spacing: .15rem;
    margin-bottom: 10px;
}
.foo>.foo_item {
    border-right: 2px solid white;
    width: 29%;
    height: 320px;
}
.foo>.last {
    border: none;
}
.foo_input {
    background-color: white;
    border-radius: 10px;
    display: inline-block;
}
#foo_email {
    padding: 16px 44px 16px 22px;
    border: none;
    border-radius: 10px;
}
#foo_email:focus {
    outline: none;
} 
.email_btn {
    border: none;
    padding: 14px 20px;
    background-color: white;
    border-radius: 10px;
    background-color:(0, 0, 0, 0.1);
}
.contact_us {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 70%;
}
.contact_us_item .logo{
    height: 30px;
    width:30px;
}

.foo_item>.lastline {
    margin-right:32%;
    color: white;
    font-weight: bold;
}
.foo>h3 {
    vertical-align: top;
}
.foo_item_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr) ;
    grid-column-gap: 8%;
    grid-row-gap: 15px;
    height: 28px;
    
}
.foo_item_div>div>a {
    color: white;
    text-decoration: none;
    font-family:"Nunito",sans-serif;
}
.foo_item_div>div>a:hover {
    color: #49a5a2;
}
#bodybox {
    float:right;
    width:400px;
    bottom: 300px;
    font: 15px arial, sans-serif;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    box-shadow: 5px 5px 5px #49a7a1;
    border-radius: 15px;
    opacity: 0;
    z-index: 1;
  }
  
  #chatborder {
    border-style: solid;
    background-color:#49a7a1;
    border-width: 3px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 15px;
    border-radius: 15px;
    z-index: 1;
  }
  #chatbot{
    border-radius: 50px;
    height: 40px;
    width:40px;
    margin-left: 1250px;
    z-index: 1;
    background-color: #49a7a1;
    position:fixed;
    top:350px;
  }
  #chaticon{
    border-radius: 50px;
    height: 70px;
    width:70px;
    z-index: 1;
   
  }
  
  .chatlog {
    font-family:"Nunito",sans-serif;
    color: black;
    font-weight: bold;
  }
  
  #chatbox {
    font: 17px arial, sans-serif;
    height: 22px;
    width: 100%;
  }
  
  h1 {
    margin: auto;
  }
  
  pre {
    background-color: #f0f0f0;
    margin-left: 20px;
  }