
#signuppopcont2{
    width: 100%;
    background-color: rgb(0, 0, 0 , 0.3);
    height: 100vh;
    display: flex;
    justify-content: center;
  
    position: fixed;
    top: 0;
    pointer-events: none;
 
    transition: 1s;
    font-family: 'Nunito', sans-serif;
    
}

.signupoutdiv{
    width: 650px;
    height: 500px;
    margin-top: 7%;
    
}

#signupbox{
    width: 100%;
    height: 500px;
    background-color: white;
    border-radius: 4px;
    margin-top: 40px;
}
#signupcross{
    width: 30px;
    height: 30px;
    border: 0;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#signupcross div{
    width: 25px;
    height: 2px;
    background-color: white; 
    
}

#signupcross > div{
  transform: rotate(45deg);
}

#signupcross div > div{
   
   transform: rotate(90deg);
  }

#signuptextcont{

   /* border: 1px solid teal; */
    height: 100%;
    text-align: center;
    margin-left: 80px;
   padding-top: 40px;
   width: 70%;
}

#signtextcont > h1{
    margin-top: 30px;
    font-family: 'PT Serif', serif;
    font-weight: 4;
    font-size: 25px;
}

.signmail{

    width: 97%;
    height: 40px;
    font-size: 19px;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
    

}

#signupotp{

    line-height: 20px;
    width: 230px;
    background-color: #ffb900;
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
    border: 0;
}



#signuptextcont > label{

    font-size: 14px;
}


.signup{

    line-height: 65px;
    
}

#login{
    color: teal;
    text-decoration: none;
    border: 0;
    background-color: white;
    font-size: 15px;    
}

.signuplf{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;        
}

