body{
    position: relative;
}

#popularMainContainer {
    width: 90%;
    margin: auto;
    font-family: "Nunito", sans-serif;
    margin-bottom: 20px;

  }
.bod{
  font-weight: bold;
}
.all{
  width: 100%;
}
#pagal{
    margin-bottom: 20px;
    display: flex;
    gap:40px;
    margin: 0px 80px 0px 80px;
    margin-bottom: 30px;
    color:#666;
    font-family: "Nunito", sans-serif;
}  
.increare{
  font-size: 20px;
  margin-top: 20px;
}
.teallink{
  
  color: #005652;
}
h4{
    color: grey;
    font-family: 'Nunito', sans-serif;
    margin-top: 30px;
}
#realPrice{
    font-family: 'Nunito', sans-serif;
}

  #productContainer {
    width: 100%;
    display: flex;
    font-family: 'Nunito', sans-serif;

  }
  #sortBox {
    padding-top: 30px;
    width: 30%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  #productBox {
    width: 68%;
    margin-left: auto;
  }
  #box {
    width: 100%;
    height: 330px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    font-family:"Nunito", sans-serif ;
  }
  #box #productImage {
    width: 30%;
    height: 75%;
    margin: auto;
    
  }

  #productImage{
    cursor: pointer;
  }
  #desBox {
    width: 70%;
    height: 90%;
    padding-top: 30px;
  }
  #prodDes {
    font-weight: bold;
  }
  #prodId {
    margin-top: 15px;
    font-family:"Nunito", sans-serif ;
  }
  #prodPrice {
    align-items: center;
    display: flex;
    margin-right: 10px;
  }
  #discPrice {
    font-size: 100%;
    font-weight: 700;
  }
  #realPrice {
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 15px;
  }
  #discount {
    font-size: 12px;
    border-radius: 10px 0 10px 0;
    background: #dbeff7;
    padding: 5px 10px 5px;
    margin-left: 10px;
    font-weight: 700;
    color: #2e96bd;
  }
  #star {
    margin-left: auto;
    
  }
  #compareBox {
    margin-top: 15px;
    display: flex;
    align-items: center;
    height: 20%;
    margin-right: 10px;
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  .checkBox {
    background-color: teal;
    color: teal;
    height: 20px;
    width: 15px;
    margin-left: 5px;
    margin-right: 3px;
  }
  .shop {
    display: block;
    margin-left: 40px;
    width: 20%;
    text-align: center;
    color: teal;
    font-size: 15px;
    font-weight: bold;
  }
  
  #btnBox {
    margin-top: 10px;
    padding: 10px;
    display: flex;
  }
  #checkOutBtn {
    width: 30%;
    height: 40px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #005652;
  }
  #checkOutBtn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  #buyNowBtn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  #buyNowBtn {
    width: 30%;
    height: 40px;
    font-weight: lighter;
    border-radius: 20px;
    border: none;
    color: #103749;
    background-color: #ffb900;
    margin-left: 20px;
  }
  #star{
      font-weight: bold;
      color: #ffb900;
    
  }

  h3{
      margin-top: 15px;
      cursor: pointer;
  }
  h2{  
    font-size: 1.7rem;
    line-height: 1.2;
    color: #333;
    font-family: "PT Serif",serif;
    margin-left: 400px;
    font-weight: inherit;
  }
  
  /* for left box  */
  #sortItemsDiv {
    
    margin: 10px;
  }
  #toggleBox {
    margin-top:7px;
    width: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
    font-family:"Nunito", sans-serif ;
    font-weight: bold;
    font-size: 24px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 14px;
    margin-left: auto;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  
  input:checked + .slider {
    background-color: teal;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 0px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #selectedBox {
    border: 1px solid;
    margin-top: -5px;
  }
  
  #sortSelection {
    width: 100%;
    height: 30px;
    font-size: 15px;
    margin-top: 14px;
    font-family:"Nunito", sans-serif ;
  }

  .line {
    background-color: black;
    margin: 20px 0 20px;
  }
  
  .filterText {
    display: flex;
    align-items: center;
  }
