.grey{
    color: grey;
    font-size: 24px;
    font-family: "Nunito",sans-serif;
    margin-left: 40px;
    margin-right: 40px;
}
.protext{
    line-height: 2.4rem;
    font-family: "Nunito",sans-serif;
    font-weight: 400;
    color: #666;
    margin-left: 40px;
    margin-right: 40px;
}
.bold{
    color: black;
    font-weight: bold;
}