#topslide {
    height: 180px;
    display: flex;
    width:80%;
    align-items: center;
    font-family: "Source Sans Pro", sans-serif;
    font-family: "Nunito", sans-serif;
    margin: auto;
    margin-bottom: 50px;
  }
  .list_item{
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    color: grey;
  }
  
  #above {
    width: 100%;
    display: inline-flex;
    position: relative;
    overflow: hidden;
  }
  
  #slidetop {
    display: flex;
    width: max-content;
    height: 100%;
    transition: 1s;
  }
  
  #slidetop #unli {
    display: flex;
    gap:20px;
    list-style-type: none;
  }
 
  #slidetop .lili .kslide { 
    height: 100%;
    width:100%;
    gap:20px;
  }
  
  #lfbt {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 35px;
    bottom: 0;
  }
  
  
  #rgbt {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 35px;
    position: absolute;
    margin-left: 1080px;
    margin-bottom: 100px;
    margin-top: 90px;
    
  }
  
  /* #anchor {
    color: black;
    text-decoration: none;
    display: inline-flex;

  } */
  
#lfbt .lfbtnimg{
    height: 25px;
    opacity: 0.5;
}

#rgbt .rtbtnimg{
  height: 25px;
  opacity: 0.5;
}

