.text{
    margin-top: -40px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.simple {
    line-height: 2.4rem;
    font-family: "Nunito",sans-serif;
    font-weight: 400;
    color: #666;
    margin-left: 20px;
    padding-left:20px;
}
.bold{
    color: #666;
    font-weight: bold;
}
.teallink a{
    text-decoration-color: #49a5a2;
    color: #49a5a2;
    font-weight: bold;
}