body {
    height: 2000px;
    position: relative;
}

.foo {
    background-color: black;
    color: white;
    padding: 3% 5%;
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    position: absolute;
    bottom:0;
    width: 99%;
    box-sizing: border-box;
}
.foo>.foo_item {
    border-right: 2px solid white;
    width: 29%;
    height: 320px;
}
.foo>.last {
    border: none;
}
.foo_input {
    background-color: white;
    border-radius: 10px;
    display: inline-block;
}
#foo_email {
    padding: 16px 44px 16px 22px;
    border: none;
    border-radius: 10px;
}
#foo_email:focus {
    outline: none;
} 
.email_btn {
    border: none;
    padding: 14px 20px;
    background-color: white;
    border-radius: 10px;
    background-color:(0, 0, 0, 0.1);
}
.contact_us {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 70%;
}
/* .contact_us_item {
} */

.foo_item>p {
    margin-right:30%;
}
.foo>h3 {
    vertical-align: top;
}
.foo_item_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr) ;
    grid-column-gap: 8%;
    grid-row-gap: 15px;
    height: 28px;
}
.foo_item_div>div>a {
    color: white;
    text-decoration: none;
}
.foo_item_div>div>a:hover {
    color: green;
}
/* .foo_item_div>div {
    
} */