* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
}
.item_container {
    width: 80%;
    /* border: 2px solid black; */
    height: 550px;
    margin: auto;
    display: flex;
    /* gap: 30px; */
}
/* topmost list */
.item_header {
    width: 80%;
    margin: auto;
    /* border: 2px solid black; */
}
.item_header ul.list {
    display: inline-block;
    margin: 20px 0;
    padding-left: 0px;
    
}
.item_header li.list_item {
    display: inline;
    color: #666;
}
/* ------ad------ */
#ad {
  text-align: center;
  margin: 25px 0;
}
/* ---------------left--------------- */
.left {
    width: 50%;
    height: 100%;
    display: flex;
    gap: px;
}
.left_left {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.left_flex_item {
    border: 1px solid gray;
    border-radius: 5px;
}
.left_flex_item:hover, .left_flex_item:nth-child(2) {
    border: 1px solid teal;
}
.left_left button {
    text-align: center;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    box-shadow: rgba(14, 30, 37, 0.1) 0px 1px 2px 0px, rgba(14, 30, 37, 0.1) 0px 1px 8px 0px;
    margin: 10px auto;
    background-color: white;
}
.left_right {
    width: 78%;
} 
.left img {
    width: 100%;
    object-fit: cover;  
}
.left_right img {
    height: 87%;
} 
.left_right_bottom {
    padding: 30px 5px;
    margin: 0 30px;
    border-top :1px solid lightgray;
    border-bottom :1px solid lightgray;
}
.left_right_bottom span{
    margin-left: 05px;
    color: teal;
    font-weight: 600;
}


/* -----------right----------- */
.right {
    width: 50%;
    height: 100%;
    /* border: 1px solid greenyellow; */
    overflow-y: auto;
}
.right::-webkit-scrollbar {
    display: none;
}
.right::
/* ---right top--- */
#right_top {
    margin-bottom: 12px;
}
#right_top p{
    padding: 8px;
}
#nam {
    font-size: 20px;
    font-weight: bold;
}
#right_top span {
    margin-right: 10px;
}
#star {
    color: #e3a275;
}
#payable {
    font-weight: bold;
    font-size: 22px;
}
#price span:nth-child(3) {
    color: gray;
}
#mrp >span{
    text-decoration: line-through;
}
#emi a {
    color: teal;
    text-decoration: none;
}
/* ---right second--- */
#rs_heading {
    border-bottom: 1.5px solid gray;
    padding-bottom: 8px;
}
#rs_heading span {
    margin-right: 4px;
}
#rs_heading span:nth-child(2){
    font-weight: 600;
    font-size: 16px;
}
#rs_heading span:nth-child(3){
    color: gray;
}
#rs_heading a{
    color: teal;
    text-decoration: none;
}

/* #rs_content {

} */
#rs_content > div {
    padding: 12px;
    border-bottom: 2px dashed lightgray;
}
#rs_content div div:first-child {
    display: inline-block;
    /* border: 1px solid black; */
    width: 2%;
    margin-right: 4px;
    vertical-align: middle;
    transform: translateY(-50%);
}
#rs_content div div:first-child img {
    width: 100%;
}
#rs_content div div:nth-child(2) {
    display: inline-block;
    /* border: 1px solid black; */
    width: 96%;
    
}
#rs_content div span{
    margin-right: 20px;
}
#rs_content div a{
    color: teal;
    text-decoration: none;
}

/* ---right third--- */
#right_third {
    padding: 30px 0 40px 15px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 35px 0;
}
#right_third > p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    
}
#right_third > p > span {
    color: teal;
    margin-left: 5px;
    font-weight: 500;
    font-size: 14px;
}
#right_third > p > a {
    color: teal;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    margin-left: 15px;
}
#right_third > span {
    margin-left: 15px;
    font-size: 14px;
    font-weight: medium;
}

/* ---right bottom--- */
#right_bottom {
    margin: 35px 0;
}
#rb_heading {
    border-bottom: 1.5px solid gray;
    padding-bottom: 8px;
}
#rb_heading span {
    font-size: 16px;
    font-weight: 600;
}
.round {
    position: relative;
    margin-top: 20px;
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 15px;
    left: 0%;
    position: absolute;
    top: 0;
    width: 15px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: teal;
    border-color: teal;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  .round span {
      margin-left: 10px;
      font-size: 14px;
  }
  .round span:last-child {
      position: absolute;
      right: 5px;
  }
  #rb_content button {
    padding: 10px 70px;
    border-radius: 20px;
    margin: 25px 40px 10px 0;
    border: none;
    font-size: 16px;
    font-weight: bold;
  }
  #rb_content button:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  #addToCart {
      background-color: #005652;
      color: white;
  }
  #buyNow {
      background-color: #ffb900;
  }